<h1>
  All scomments
</h1>

<a href="/scomments/new">
  Add a new scomment
</a>

<hr>

<table class="table">
  <tr>
    <th>
      ID
    </th>

    <th>
      User
    </th>

    <th>
      Song
    </th>

    <th>
      Body
    </th>

    <th>
      Created at
    </th>

    <th>
      Updated at
    </th>

    <th>
    </th>
  </tr>

  <% @scomments.each do |scomment| %>
  <tr>
    <td>
      <%= scomment.id %>
    </td>

    <td>
      <%= scomment.user_id %>
    </td>

    <td>
      <%= scomment.song_id %>
    </td>

    <td>
      <%= scomment.body %>
    </td>

    <td>
      <%= time_ago_in_words(scomment.created_at) %> ago
    </td>

    <td>
      <%= time_ago_in_words(scomment.updated_at) %> ago
    </td>

    <td>
      <a href="/scomments/<%= scomment.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>
