<h1>
  Scomment #<%= @scomment.id %> details
</h1>

<a href="/scomments/<%= @scomment.id %>/edit">
  Edit scomment
</a>

<hr>

<dl>
  <dt>
    User
  </dt>
  <dd>
    <%= @scomment.user_id %>
  </dd>

  <dt>
    Song
  </dt>
  <dd>
    <%= @scomment.song_id %>
  </dd>

  <dt>
    Body
  </dt>
  <dd>
    <%= @scomment.body %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@scomment.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@scomment.updated_at) %> ago
  </dd>
</dl>

<a href="/delete_scomment/<%= @scomment.id %>">
  Delete scomment
</a>

<hr>

<a href="/scomments">
  Go back
</a>
