<div class="page-header header-filter" data-parallax="true" style=" background-image: url('<%= @guest.image %>'); height: 400px;">
    <div class = "container">
    <h2 class = "text-center">UPDATE YOUR GUEST INFORMATION</h2>
    <h4 class = "description text-center">Tell us about your guest.</h4>
      </div>
    </div>
<div class="main main-raised" style="background-color:#EAEAEA">
            <div class="profile-content">
<div class = "container">


<!-- Validation failure messages -->
<% if @guest.errors.any? %>
  <% @guest.errors.full_messages.each do |message| %>
    <div class="alert"> 
      <%= message %>
    </div>
  <% end %>
<% end %>

<hr>

<form action="/update_guest/<%= @guest.id %>" method="post">
  <!-- Label and input for image_url -->

  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
   <div class="fileinput-new thumbnail img-raised">
	<img src="<%= @guest.image %>" alt="image">
   </div>
   <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
   <div>
	<span class="btn btn-raised btn-round btn-default btn-file">
	   <span class="fileinput-new">Select image</span>
	   <span class="fileinput-exists">Change</span>
	   <input type="file" name="image" value="<%= @guest.try(:image) %>" />
	</span>
        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
        <i class="fa fa-times"></i> Remove</a>
   </div>
  </div>
  
  
  <!-- Label and input for firstname -->
  <div class="form-group">
    <label for="firstname">
      First Name
    </label>

    <input type="text" id="firstname" name="firstname" class="form-control" value="<%= @guest.firstname %>">
  </div>
  
  <!-- Label and input for firstname -->
  <div class="form-group">
    <label for="lastname">
      Last Name
    </label>

    <input type="text" id="lastname" name="lastname" class="form-control" value="<%= @guest.lastname %>">
  </div>
  
   <!-- Label and input for age group -->
  
  
  <div class="form-group">
    <label for="age">
      Age Group
    </label>
                    <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="age" id="age" value="Adult" checked>
                                Adult - I can drink
                                <span class="circle">
                                    <span class="check bg-dark"></span>
                                </span>
                            </label>
                          </div>
                        
                          <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="age" id="age" value="Young">
                                Young Adult - I can't drink yet
                                <span class="circle">
                                    <span class="check bg-dark"></span>
                                </span>
                            </label>
                          </div>  
                          
                          <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="age" id="age" value="Child">
                                Child - kid's menue
                                <span class="circle">
                                    <span class="check bg-dark"></span>
                                </span>
                            </label>
                          </div>  
  
                            <div class="form-check form-check-radio">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="age" id="age" value="Infant">
                                Infant
                                <span class="circle">
                                    <span class="check bg-dark"></span>
                                </span>
                            </label>
                          </div>  

<!-- Label and input for food -->
  <div class="form-group">
    <label for="food">
      Entree & Food Options 
    </label>

    <input type="text" id="food" name="food" class="form-control" value= "Please come back and the options will be available in October, 2018">
  </div>

<!-- Label and input for food -->
  <div class="form-group">
    <label for="dietary">
      Dietary Restrictions 
    </label>

    <input type="text" id="dietary" name="dietary" class="form-control" value="<%= @guest.try(:dietary) %>">
  </div>

   <!-- hidden input for user_id -->

    <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">


  <button class="btn btn-block btn-outline-secondary">
    Update guest
  </button>
</form>

<hr>

 <a href="/guests" class = "text-muted mb-3 h6 align-center"> Go Back to List of guests </a>
</div>
</div>
</div>
