<div class="page-header header-filter" data-parallax="true" style=" background-image: url('<%= @song.image %>'); height: 400px;">
    <div class = "container">
    <h2 class = "text-center">UPDATE YOUR SONG</h2>
    <h4 class = "description text-center">Please help us create list of dance time songs!</h4>
      </div>
    </div>
<div class="main main-raised" style="background-color:#EAEAEA">
            <div class="profile-content">
<div class = "container">


<!-- Validation failure messages -->
<% if @song.errors.any? %>
  <% @song.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<hr>

<form action="/update_song/<%= @song.id %>" method="post">
  <!-- Label and input for title -->
  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @song.title %>">
  </div>

  <!-- Label and input for artist -->
  <div class="form-group">
    <label for="artist">
      Artist
    </label>

    <input type="text" id="artist" name="artist" class="form-control" value="<%= @song.artist %>">
  </div>

   <!-- hidden input for user_id -->

    <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">

  <!-- Label and input for image_url -->

  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
   <div class="fileinput-new thumbnail img-raised">
	<img src="https://epicattorneymarketing.com/wp-content/uploads/2016/07/Headshot-Placeholder-1.png" alt="image">
   </div>
   <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
   <div>
	<span class="btn btn-raised btn-round btn-default btn-file">
	   <span class="fileinput-new">Select image</span>
	   <span class="fileinput-exists">Change</span>
	   <input type="file" name="image" value="<%= @song.try(:image) %>" />
	</span>
        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
        <i class="fa fa-times"></i> Remove</a>
   </div>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update song
  </button>
</form>

<hr>

 <a href="/songs" class = "text-muted mb-3 h6 align-center"> Go Back to List of Songs </a>
</div>
</div>
</div>