  <div class="page-header header-filter" data-parallax="true" style=" background-image: url('../assets/img/kit/pro/bg9.jpg'); height: 400px;">
    <div class = "container">
    <h2 class = "text-center">DANCE FLOOR SONGS</h2>
    <h4 class = "description text-center">Tell us how you want to boogie down!</h4>
      </div>
    </div>
        <div class="main main-raised" style="background-color:#EAEAEA">
            <div class="profile-content">
                <div class="container">
                  <div class = "row">
                <a href="/songs/new" class="btn btn-primary btn-round text-center mt-3">
                <i class="material-icons">favorite</i> Add New Songs    
                 </a>
            </div>
  
<div class = "container">
<div class = "row">
<% @songs.each do |song| %>
<div class = "col-4">
  <div class="card">
  <div class="card-body">
    <h4 class="card-title"><%= song.title %> by <%= song.artist %>
    
      <% id = current_user.id %>
    
      <% if song.slikes.find_by(user_id: id) != nil %>
                
      <a href="/delete_slike/<%= song.slikes.find_by(user_id: id).id %>" class="btn btn-link pull-right p-0">
                  <i class="fa fa-fw fa-heart"></i> <%= song.slikes.count %>
                </a>
      <% else %>
      
                <form action="/create_slike" method="post">
                  <input type="hidden" name="song_id" value="<%= song.id %>">
                  <input type="hidden" name="user_id" value="<%= current_user.id %>">
                  <button class="btn btn-link pull-right p-0">
                    <i class="fa fa-fw fa-heart-o"></i>
                    <%= song.slikes.count %>
                  </button>
                </form>
      
      <% end %>
  </h4>
    <p class="card-text">
    <p class = "h6">Proposed by <%= song.user.username %></p>
      <% scomments = song.scomments.last(4) %>
      <% scomments.each do |scomment| %>
      <ul class="p-0 m-0">
      <p><span class="h6"><%= scomment.user.username %>:</span> <%= scomment.body %> <a href="/delete_scomment/<%= scomment.id %>" class = "pull-right"> Delete </a></p>
      </ul>
      <% end %>
   <form action="/create_scomment" method="post">
                  <input type="hidden" name="song_id" value="<%= song.id %>">
                  <input type="hidden" name="user_id" value="<%= current_user.id %>">

                  <!-- Label and input for body -->
                  <div class="form-group">
                    <label for="body" class="sr-only">
                      Body
                    </label>

                    <div class="input-group">
                      <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>
                    </div> <!-- input-group -->
                    <div>
                      <span class="input-group-btn">
                        <button class="btn btn-warning" type="submit">
                          <i class="fa fa-fw fa-commenting-o"></i>
                          Add Comment
                        </button>
                      </span>
                    <% if current_user.id == song.user_id %>
                    <a href="/songs/<%= song.id %>/edit" class="btn btn-dark btn-just-icon btn-fill btn-round btn-wd pull-right">
                        <i class="material-icons">mode_edit</i>
                    </a>
                    <a href="/delete_song/<%= song.id %>" class="btn btn-danger btn-just-icon btn-fill btn-round pull-right">
                        <i class="material-icons">delete</i>
                    </a>
                  <% else %>
                  <% end %>   
                    </div>
                  </div>  <!-- form-group -->
                </form>
   </p>
  </div>
</div>
</div>
<% end %>
</div>
</div>
</div>