
<div class="page-header header-filter" style="background-image: url(&apos;../assets/img/kit/pro/bg7.jpg&apos;); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                    <div class="card card-signup">
                            <div class="card-header card-header-rose text-center">
                                <h4 class="card-title">Log in</h4>
                        
                            <div class="card-body">
                               <% if flash[:notice].present? %>
          <div class="alert alert-info" role="alert">
            <%= flash[:notice] %>
          </div>
        <% end %>

        <% if flash[:alert].present? %>
          <div class="alert alert-danger" role="alert">
            <%= flash[:alert] %>
          </div>
        <% end %>

        <% form_html_options = { novalidate: true, class: "mb-3" } %>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: form_html_options) do |f| %>
          
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div class="form-check">
              <%= f.label :remember_me, class: "form-check-label" do %>
                <%= f.check_box :remember_me, class: "form-check-input" %> Remember me
                <span class="form-check-sign">
            <span class="check"></span>
                </span>
              <% end %>
            </div>
          <% end -%>

          <%= f.submit "Sign in", class: "btn btn-outline-primary btn-block" %>

          <hr>
            <%= render "devise/shared/links" %>
            
             <% end %>
                            
                                </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

