<div class="page-header header-filter" data-parallax="true" style=" background-image: url('<%= @photo.image %>'); height: 400px;">
    <div class = "container">
    <h2 class = "text-center">UPDATE YOUR PHOTO</h2>
    <h4 class = "description text-center">A place to share memories</h4>
      </div>
    </div>
<div class="main main-raised" style="background-color:#EAEAEA">
            <div class="profile-content">
<div class = "container">


<!-- Validation failure messages -->
<% if @photo.errors.any? %>
  <% @photo.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<hr>

<form action="/update_photo/<%= @photo.id %>" method="post">
  <!-- Label and input for caption -->
  <div class="form-group">
    <label for="caption">
      Caption
    </label>

    <input type="text" id="caption" name="caption" class="form-control" value="<%= @photo.caption %>">
  </div>

   <!-- hidden input for user_id -->

    <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">

  <!-- Label and input for image_url -->

  <div class="fileinput fileinput-new text-center" data-provides="fileinput">
   <div class="fileinput-new thumbnail img-raised">
	<img src="<%= @photo.image %>" alt="image">
   </div>
   <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
   <div>
	<span class="btn btn-raised btn-round btn-default btn-file">
	   <span class="fileinput-new">Select image</span>
	   <span class="fileinput-exists">Change</span>
	   <input type="file" name="image" value="<%= @photo.try(:image) %>" />
	</span>
        <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput">
        <i class="fa fa-times"></i> Remove</a>
   </div>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update photo
  </button>
</form>

<hr>

 <a href="/photos" class = "text-muted mb-3 h6 align-center"> Go Back to List of photos </a>
</div>
</div>
</div>