<div class="page-header header-filter" data-parallax="true" style=" background-image: url(../assets/img/us/cute.jpeg); height: 500px;">
    <div class = "container">
    <h2 class = "text-center">UPDATE YOUR PHOTO</h2>
    <h4 class = "description text-center">A place to share memories</h4>
      </div>
    </div>
<div class="main main-raised" style="background-color:#EAEAEA">
            <div class="profile-content">
<div class = "container">


<!-- Validation failure messages -->
<% if @photo.errors.any? %>
  <% @photo.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<hr>

   <div class="fileinput-exists thumbnail img-raised">
	<img src="<%= @photo.image %>">
   </div>
   
<form action="/update_photo/<%= @photo.id %>" method="post">
  <!-- Label and input for caption -->
  <div class="form-group">
    <label for="caption">
      Caption
    </label>

    <input type="text" id="caption" name="caption" class="form-control" value="<%= @photo.caption %>">
  </div>

   <!-- hidden input for user_id -->

    <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%= current_user.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Update photo
  </button>
</form>

<hr>

 <a href="/photos" class = "text-muted mb-3 h6 align-center"> Go Back to List of photos </a>
</div>
</div>
</div>