<div class="page-header header-filter" data-parallax="true" style=" background-image: url(../assets/img/us/cute.jpeg); height: 500px;">
    <div class = "container">
    <h2 class = "text-center">SHARE YOUR PHOTOS</h2>
    <h4 class = "description text-center">A place to share memories! Feel free to introduce yourself with your photos! </h4>
      </div>
    </div>
        <div class="main main-raised" style="background-color:#EAEAEA">
            <div class="profile-content">
                <div class="container">
                  <div class = "row">
                <a href="/photos/new" class="btn btn-primary btn-round text-center mt-3">
                <i class="material-icons">favorite</i> Add New Photo
                 </a>
            </div>
  
<div class = "container-fluid">
<div class = "row">
<% @photos.each do |photo| %>
<div class = "col-md-4">
  <div class="card card-product card-plain">
  <a href="/photos/<%= photo.id %>">
    <div class="card-header card-header-image">
    <img src="<%= photo.image %>" style="width:100%">
  </div>
  <div class="card-body">
      <h6 class = "pull-left"> <%= photo.caption %></h6>
      <% id = current_user.id %>
      <% if photo.plikes.find_by(user_id: id) != nil %>
      <a href="/delete_plike/<%= photo.plikes.find_by(user_id: id).id %>" class="btn btn-link pull-right p-0">
                  <i class="fa fa-fw fa-heart"></i> <%= photo.plikes.count %>
                </a>
      <% else %>
      
                <form action="/create_plike" method="post">
                  <input type="hidden" name="photo_id" value="<%= photo.id %>">
                  <input type="hidden" name="user_id" value="<%= current_user.id %>">
                  <button class="btn btn-link pull-right p-0">
                    <i class="fa fa-fw fa-heart-o"></i>
                    <%= photo.plikes.count %>
                  </button>
                </form>
      <% end %>
   </div>
  </div>
  </div>
<% end %>
</div>
</div>
</div>
</div>
</div>
