<div class="page-header header-filter" data-parallax="true" style=" background-image: url(../assets/img/us/cute.jpeg); height: 500px;">
    <div class = "container">
    <h2 class = "text-center">PHOTO DETAIL</h2>
    <h4 class = "description text-center"><%= @photo.caption %></h4>
      </div>
</div>
<div class="main main-raised" style="background-color:#EAEAEA">
<div class = "profile-content">
  <div class = "container">
    <a href="/photos/<%= @photo.id %>/edit" class="btn btn-primary btn-round text-center mt-3"><i class="material-icons">mode_edit</i> Edit photo</a>
  </div>
  <div class = "container mt-3">
    <div class = "row">
      <div class = "col-6">
<dl>
  <dt>
    <img class="d-block w-100" src="<%= @photo.image %>">
  </dt>
  
</dl>

<dl>
  <dd>
    <%= @photo.caption %>
  </dd>

</dl>
</div>

<div class = "col-6">
  
  <p class="card-text">
    <h5 class = "caption">Comment Log</h5>
      <% pcomments = @photo.pcomments %>
      <% pcomments.each do |pcomment| %>
      <ul class="p-0 m-0">
        <%= pcomment.body %>
        <a href="/delete_pcomment/<%= pcomment.id %>" class = "pull-right"> Delete </a>
      </ul>
      <% end %>
   <form action="/create_pcomment" method="post">
                  <input type="hidden" name="photo_id" value="<%= @photo.id %>">
                  <input type="hidden" name="user_id" value="<%= current_user.id %>">

                  <!-- Label and input for body -->
                  <div class="form-group">
                    <label for="body" class="sr-only">
                      Body
                    </label>

                    <div class="input-group">
                      <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>
                    </div> <!-- input-group -->
                    <div>
                      <span class="input-group-btn">
                        <button class="btn btn-warning" type="submit">
                          <i class="fa fa-fw fa-commenting-o"></i>
                          Add Comment
                        </button>
                      </span>
                      </p>
  
</div>
</div>

</div>
  <a href="/photos" class = "text-muted mb-3 h6 align-center"> Go Back to List of photos </a>
</div>
</div>