<div class="page-header header-filter" data-parallax="true" style=" background-image: url(../assets/img/us/cute.jpeg); height: 500px;">
    <div class = "container">
    <h2 class = "text-center">PHOTO DETAIL</h2>
    <h4 class = "description text-center"><%= @photo.caption %></h4>
      </div>
</div>
<div class="main main-raised" style="background-color:#EAEAEA">
<div class = "profile-content mb-4">
  <div class = "container mx-1 mb-4">
    <a href="/photos/<%= @photo.id %>/edit" class="btn btn-primary btn-round text-center mt-3"><i class="material-icons">mode_edit</i> Edit photo</a>
  </div>
  <div class = "container mt-3 mx-1">
    <div class = "row">
      <div class = "col-9">
        <dl>
          <dt>
            <img class="d-block w-100" src="<%= @photo.image %>">
          </dt>
          
        </dl>
        
        <dl>
          <dd>
            <%= @photo.caption %>
          </dd>
        
        </dl>
        </div>

<div class = "col-3">
  
    <p class="card-text">
    <h5 class = "font-weight-bold">Please share your comments:</h5>
      <% pcomments = @photo.pcomments %>
      <% pcomments.each do |pcomment| %>
      <ul class="p-0 m-0">
      <p><span class="h6"><%= pcomment.user.username %>:</span> <%= pcomment.body %> <a href="/delete_pcomment/<%= pcomment.id %>" class = "pull-right"> Delete </a></p>
      </ul>
      <% end %>
    
    <form action="/create_pcomment" method="post">
                  <input type="hidden" name="photo_id" value="<%= @photo.id %>">
                  <input type="hidden" name="user_id" value="<%= current_user.id %>">

                  <!-- Label and input for body -->
                  <div class="form-group">
                    <label for="body" class="sr-only">
                      Body
                    </label>

                    <div class="input-group">
                      <input type="text" id="body" name="body" class="form-control" placeholder="Add a comment..." required>
                    </div> <!-- input-group -->

                    <div>
                      <span class="input-group-btn">
                        <button class="btn btn-warning" type="submit">
                          <i class="fa fa-fw fa-commenting-o"></i>
                          Add Comment
                        </button>
                      </span>
                      <% if current_user.id == @photo.user_id %>
                    <a href="/photos/<%= @photo.id %>/edit" class="btn btn-dark btn-just-icon btn-fill btn-round btn-wd pull-right">
                        <i class="material-icons">mode_edit</i>
                    </a>
                    <a href="/delete_photo/<%= @photo.id %>" class="btn btn-danger btn-just-icon btn-fill btn-round pull-right">
                        <i class="material-icons">delete</i>
                    </a>
                  <% else %>
                  <% end %>   
                    </div>
                  </div>  <!-- form-group -->
                </form>
             </p>
  
</div>
</div>
  <a href="/photos" class = "text-muted h6 align-center"> Go Back to List of photos </a>

</div>
</div>
</div>
</div>
</div>