<h1>
  Slike #<%= @slike.id %> details
</h1>

<a href="/slikes/<%= @slike.id %>/edit">
  Edit slike
</a>

<hr>

<dl>
  <dt>
    User
  </dt>
  <dd>
    <%= @slike.user_id %>
  </dd>

  <dt>
    Song
  </dt>
  <dd>
    <%= @slike.song_id %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@slike.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@slike.updated_at) %> ago
  </dd>
</dl>

<a href="/delete_slike/<%= @slike.id %>">
  Delete slike
</a>

<hr>

<a href="/slikes">
  Go back
</a>
