<!DOCTYPE html>
<html>
<head>
  <title>
    Neil+Eugene
  </title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <%= render "shared/bootstrapcdn_assets" %>

</head>

<body>
  <%= render "shared/navbar" %>

  <div class="container">
    <%= render "shared/flashes" %>

    <%= yield %>
  </div>
  <%= render "shared/jscript" %>
</body>
</html>
