    <div class="page-header header-filter header-small" data-parallax="true" style=" background-image: url(../assets/img/couple/something.jpg); height: 500px;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title" >The Whole Sick Crew</h2>
                </div>
            </div>
        </div>
    </div>


    <div class="main main-raised">
        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto text-center">
                        <ul class="nav nav-pills nav-pills-rose">
                            <li class="nav-item">
                                <a class="nav-link active" href="#pill1" data-toggle="tab">All</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#pill2" data-toggle="tab">The Couple</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#pill3" data-toggle="tab">Bride's Family</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#pill4" data-toggle="tab">Groom's Family</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#pill5" data-toggle="tab">Wedding Party</a>
                            </li>
                        </ul>
                        <div class="tab-content tab-space">
                            <div class="tab-pane active" id="pill1">
                            <%= render "shared/couple" %>
                            <%= render "shared/suh" %>
                            <%= render "shared/dean" %>
                            <%= render "shared/party" %>
                            </div>
                            <div class="tab-pane" id="pill2">
                            <%= render "shared/couple" %>
                            </div>
                            <div class="tab-pane" id="pill3">
                            <%= render "shared/suh" %>
                            </div>
                            <div class="tab-pane" id="pill4">
                            <%= render "shared/dean" %>
                            </div>
                   
                            <div class="tab-pane" id="pill5">
                            <%= render "shared/party" %>
                            </div>
                          </div>
                       
                         </div>
                         
                          
                        
                         
                          </div>
                           </div>
                            </div>
                             </div>
                             
                        
             